<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1388">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Contact Us</span>
      <h2 class="cs-title">Details</h2>
      <p class="cs-text">
        Rick’s Mobile RV Service comes to you at your convenience. Please complete the request form and we will get back
        with you.
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              aria-hidden="true"
              src="/assets/icons/telephone.svg"
              alt="phone icon"
              class="cs-icon"
              width="40"
              height="40"
              decoding="async" />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Call / Text</span>
            <a
              href="tel:{{ client.phoneForTel }}
                    "
              class="cs-link"
              >{{ client.phoneFormatted }}
            </a>
          </div>
        </li>

        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              aria-hidden="true"
              src="/assets/icons/mail.svg"
              alt="address icon"
              class="cs-icon"
              width="40"
              height="40"
              decoding="async" />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Email</span>
            <a href="mailto:{{ client.email }}" class="cs-link">{{ client.email }}</a>
          </div>
        </li>

        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              aria-hidden="true"
              src="/assets/icons/clock.svg"
              alt="location icon"
              class="cs-icon"
              width="40"
              height="40"
              decoding="async" />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Opening Hours</span>
            <span>{{client.hours}}</span>
          </div>
        </li>
      </ul>
    </div>
    <!--Form-->
    <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post" netlify netlify-honeypot="bot-field">
      <div class="cs-form-header">
        <h3 class="cs-h3">Let us take care of your RV</h3>
        <h4 class="cs-form-sub-title">Send us your details</h4>
      </div>
      <label class="hidden"> Don’t fill this out if you’re human: <input name="bot-field" /> </label>
      <label class="cs-label">
        Name *
        <input class="cs-input" required type="text" id="name-1388" name="name" placeholder="Name" />
      </label>
      <label class="cs-label cs-email">
        Email *
        <input class="cs-input" required type="email" id="email-1388" name="email" placeholder="Email" />
      </label>
      <label class="cs-label cs-phone">
        Phone *
        <input class="cs-input" required type="string" id="phone-1388" name="phone" placeholder="Phone" />
      </label>
      <label class="cs-label">
        Year | Make | Model
        <input
          class="cs-input"
          type="string"
          id="rv-info-1388"
          name="year-make-model"
          placeholder="Year | Make | Model" />
      </label>
      <label class="cs-label">
        RV Location
        <input class="cs-input" type="string" id="rv-location-1388" name="rv-location" placeholder="RV Location" />
      </label>
      <label class="cs-label">
        Image

        <input type="file" id="file-upload" name="RV Image" placeholder="RV Image" />
        <div class="cs-file-upload" tabindex="0" role="button" aria-haspopup="true">Upload Image</div>
        <div class="cs-file-upload-help-text" id="file-input-help-text">Choose a file (Max 15MB)</div>
      </label>
      <label class="cs-label">
        Message
        <textarea
          class="cs-input cs-textarea"
          required
          name="Message"
          id="message-1388"
          placeholder="Write message..."></textarea>
      </label>
      <button id="form-submit-button" class="cs-button-solid cs-submit" type="submit">Send Message</button>
    </form>
  </div>
</section>
