<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-840">
  <div class="cs-container">
    <!-- Logo Group -->
    <div class="cs-logo-group">
      <a aria-label="go back to home" class="cs-logo" href="/">
        <img
          class="cs-logo-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/logo.png"
          alt="logo"
          width="240"
          height="32" />
        {# {{ client.name }} #}
      </a>

      <div class="cs-social">
        <a
          class="cs-social-link"
          aria-label="visit facebook profile"
          rel="noopener noreferrer"
          target="_blank"
          href="{{ client.socials.facebook }} ">
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fface-grey1.svg"
            alt="facebook"
            width="11"
            height="11" />
        </a>

        <a
          class="cs-social-link"
          aria-label="visit instagram profile"
          rel="noopener noreferrer"
          target="_blank"
          href="{{ client.socials.instagram }}">
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ftwitter-grey1.svg"
            alt="instagram"
            width="11"
            height="11" />
        </a>
      </div>
    </div>
    <!-- Links -->
    <div class="cs-ul-wrapper">
      <span class="cs-header">Quick Links</span>
      <ul class="cs-ul cs-ul-1">
        <li class="cs-li">
          <a class="cs-link" href="/">Home</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/about/">About</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/contact-us/">Contact</a>
        </li>
      </ul>
    </div>
    <div class="cs-ul-wrapper">
      <span class="cs-header">Services</span>
      <li class="cs-li">
        <a href="/rv-plumbing-services/" class="cs-link">RV Plumbing Services</a>
      </li>
      <li class="cs-li">
        <a href="/rv-electrical-services/" class="cs-link">RV Electrical Services</a>
      </li>
      <li class="cs-li">
        <a href="/rv-applicances-a-c-heater/" class="cs-link">RV Appliances, A/C, Furnace</a>
      </li>
      <li class="cs-li">
        <a href="/rv-upgrades-maintenance/" class="cs-link">RV Upgrades & Maintenance</a>
      </li>
    </div>
    <div class="cs-ul-wrapper">
      <!-- Contact Info -->
      <span class="cs-header">Contact Information</span>
      <ul class="cs-ul">
        <li class="cs-li"></li>
        <li class="cs-li">
          <a class="cs-link" href="tel:{{ client.phoneForTel }}">
            <img
              class="cs-contact-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/icons/telephone.svg"
              alt="phone icon"
              width="20"
              height="20" />
            {{ client.phoneFormatted }}
          </a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="mailto:{{ client.email }}">
            <img
              class="cs-contact-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/icons/mail.svg"
              alt="email icon"
              width="20"
              height="20" />
            {{ client.email }}
          </a>
        </li>
        <li class="cs-li">
          <span class="cs-link">
            <img
              class="cs-contact-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/icons/clock.svg"
              alt="email icon"
              width="20"
              height="20" />
            {{ client.hours }}
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="cs-bottom">
    <span class="cs-credit">
      © Copyright 2025
      <a href="https://westcoastwebdesigns.com" class="cs-credit-link" target="_blank"> - West Coast Web Designs</a>
    </span>
  </div>
</footer>
