---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
permalink: '/'
tags: 'sitemap' # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %} {% block head %}
<!-- Critical styles are loaded first -->
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
{% if kit.isProduction %}
<link
  rel="preload"
  href="/assets/css/local.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
  <link rel="stylesheet" href="/assets/css/local.css" />
</noscript>

{% else %}
<link rel="stylesheet" href="/assets/css/local.css" />
{% endif %}

<!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
<!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
<!-- {% include "components/home-schema.html" %} -->
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1467">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">RV Repair Service</h1>
      <p class="cs-text">
        Rick’s Mobile RV Service is here for you. We help our clients and provide them with the best
        RV Upgrades, Repair and Maintenance Service
      </p>
      <a href="" class="cs-button-solid">Call Us Now</a>
      <div class="cs-reviews" aria-hidden="true">
        <div class="cs-reviews-flex">
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile1.png"
            alt="icon"
            width="48"
            height="48"
          />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile2.png"
            alt="icon"
            width="48"
            height="48"
          />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile3.png"
            alt="icon"
            width="48"
            height="48"
          />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile4.png"
            alt="icon"
            width="48"
            height="48"
          />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile5.png"
            alt="icon"
            width="48"
            height="48"
          />
          <span class="cs-reviews-number">+25</span>
        </div>
      </div>
      <div class="cs-stars">
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16"
        />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16"
        />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16"
        />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16"
        />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16"
        />
      </div>
      <p class="cs-desc">Rick's Mobile RV Service is rated 5/5 based on 25+ reviews.</p>
    </div>
    <div class="cs-right">
      <span class="cs-tag">
        Online Special
        <span class="cs-dot" aria-hidden="true"></span>
      </span>
      <div class="cs-flex">
        <h3 class="cs-h3">Get an Extra 5% OFF Your First Order Today</h3>
        <span class="cs-expires">*Offer Expires April 16th</span>
        <p class="cs-form-text">
          Request a free* No-Obligation quote & expert advice from our expert team!
        </p>
      </div>
      <!--Form-->
      <form class="cs-form" id="cs-form-1467" name="Contact Form" method="post">
        <label class="cs-label">
          Name
          <input class="cs-input" required type="text" id="name-1467" name="name" />
        </label>
        <label class="cs-label">
          Phone
          <input class="cs-input" required type="tel" id="phone-1467" name="phone" />
        </label>
        <label class="cs-label">
          Email
          <input class="cs-input" required type="email" id="email-1467" name="email" />
        </label>
        <label class="cs-label">
          How did you hear about us?
          <input class="cs-input" required type="text" id="hear-1467" name="heat" />
        </label>
        <label class="cs-label cs-message">
          Message
          <textarea
            class="cs-input cs-textarea"
            required
            name="Message"
            id="message-1467"
          ></textarea>
        </label>
        <button class="cs-button-solid cs-submit" type="submit">Get Estimate</button>
      </form>
      <p class="cs-disclaimer">
        <img
          class="cs-disclaimer-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/lock.svg"
          alt="icon"
          width="20"
          height="20"
        />
        *Free estimates for homeowners only. Real estate evaluations are billable.
      </p>
    </div>
  </div>

  <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | avif %}
                "
      type="image/avif"
    />
    <source
      media="(max-width: 600px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | webp %}
                "
      type="image/webp"
    />
    <source
      media="(max-width: 600px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | jpeg %}
                "
      type="image/jpeg"
    />
    <!--Tablet Image-->
    <source
      media="(min-width: 601px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | avif %}
                "
      type="image/avif"
    />
    <source
      media="(min-width: 601px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | webp %}
                "
      type="image/webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | jpeg %}
                "
      type="image/jpeg"
    />
    <img
      src="{% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | jpeg %}"
      alt="traveling rv"
      width="2250"
      height="1500"
      decoding="async"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1064">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Services</span>
      <h2 class="cs-title">On-Site RV Repairs & Maintenance</h2>
      <p class="cs-text">
        At Rick’s Mobile RV Service, we make RV care simple and stress-free. From routine
        maintenance to major repairs, we bring certified, dependable service straight to your
        location—no need to wait weeks at a dealership. We offer maintenance scheduling to keep your
        RV in top shape and work with most warranty and insurance providers to get you back to RVing
        as quickly as possible.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="assets/icons/pipes.svg"
            alt="pipes"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">RV Plumbing Services</h3>
        <p class="cs-item-text">
          We repair and maintain RV plumbing systems—including tanks, water heaters, and leaks—right
          at your location
        </p>
        <a href="" class="cs-link">
          Read More
          <img
            class="cs-arrow"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg"
            alt="icon"
            width="20"
            height="20"
            aria-hidden="true"
          />
        </a>
      </li>

      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="assets/icons/electrical-panel.svg"
            alt="electrical panel"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">RV Electrical Services</h3>
        <p class="cs-item-text">
          We deliver on-site diagnostics, wiring repairs, upgrades, and battery/inverter
          inspections—keeping your RV’s electrical systems reliable.
        </p>
        <a href="" class="cs-link">
          Read More
          <img
            class="cs-arrow"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg"
            alt="icon"
            width="20"
            height="20"
            aria-hidden="true"
          />
        </a>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="assets/icons/air-conditioning.svg"
            alt="air conditioning"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">RV Appliances, A/C, Furnace</h3>
        <p class="cs-item-text">
          We repair and maintain your RV’s refrigerators, stoves, microwaves, water heaters, A/C
          units, furnaces, and thermostats.
        </p>
        <a href="" class="cs-link">
          Read More
          <img
            class="cs-arrow"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg"
            alt="icon"
            width="20"
            height="20"
            aria-hidden="true"
          />
        </a>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="assets/icons/rv.svg"
            alt="rv"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">RV Structural Services</h3>
        <p class="cs-item-text">
          We repair roofs, slide‑outs, seals, and jacks—on-site and on your schedule.
        </p>
        <a href="" class="cs-link">
          Read More
          <img
            class="cs-arrow"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg"
            alt="icon"
            width="20"
            height="20"
            aria-hidden="true"
          />
        </a>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="assets/icons/tools.svg"
            alt="tools"
            width="48"
            height="48"
          />
        </picture>
        <h3 class="cs-h3">RV Upgrades & Maintenance</h3>
        <p class="cs-item-text">
          We provide on-site maintenance and install upgrades to keep your RV running smoothly and
          up to date.
        </p>
        <a href="" class="cs-link">
          Read More
          <img
            class="cs-arrow"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg"
            alt="icon"
            width="20"
            height="20"
            aria-hidden="true"
          />
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2291">
  <div class="cs-container">
    <!-- Left Content Section-->
    <div class="cs-content">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">About Mountain Top Mobile RV Repair</h2>
      <p class="cs-text">
        With 25 years of camping experience, we know things break. Leaks happen. Roofs and floors
        deteriorate. Slide-outs get stuck. Wiring issues, ac and furnace, appliances and more.
      </p>
      <p class="cs-text">
        But we don’t let that slow down our passion RVing! And we don’t want it to slow you down
        either!
      </p>
      <p class="cs-text">
        Over the years we’ve helped full-time families, retirees, travel workers, road warriors,
        vacationers, and all sorts of RVers who live here and pass through our beautiful region!
      </p>
      <p class="cs-text">How can we help make RVing better for you?</p>
      <a
        class="cs-button-solid"
        aria-label="learn more about Mountain Top Mobile RV Repair"
        href="/about/"
        >More About Us</a
      >
    </div>
    <!-- Right Image Section -->
    <div class="cs-image-group">
      <!--Floating Box-->
      <div class="cs-box">
        <span class="cs-number">100+</span>
        <div class="cs-flex">
          <h3 class="cs-heading">RV Services Completed</h3>
          <span class="cs-desc">Providing quality service in the Gainesville, Georgia area.</span>
        </div>
      </div>
      <!--Image-->
      <picture class="cs-picture">
        <source
          media="(max-width: 600px)"
          srcset="
                          {% getUrl '/assets/images/about-us.png' | resize({ width: 1136, height: 1062, position: 'attention' }) | avif %}
                      "
          type="image/avif"
        />
        <source
          media="(max-width: 600px)"
          srcset="
                          {% getUrl '/assets/images/about-us.png' | resize({ width: 1136, height: 1062, position: 'attention' }) | webp %}
                      "
          type="image/webp"
        />
        <source
          media="(max-width: 600px)"
          srcset="
                          {% getUrl '/assets/images/about-us.png' | resize({ width: 1136, height: 1062, position: 'attention' }) | jpeg %}
                      "
          type="image/jpeg"
        />
        <!--Tablet Image-->
        <source
          media="(min-width: 601px)"
          srcset="
                          {% getUrl '/assets/images/about-us.png' | resize({ width: 1260, height: 1260, position: 'attention' }) | avif %}
                      "
          type="image/avif"
        />
        <source
          media="(min-width: 601px)"
          srcset="
                          {% getUrl '/assets/images/about-us.png' | resize({ width: 1260, height: 1260, position: 'attention' }) | webp %}
                      "
          type="image/webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="
                          {% getUrl '/assets/images/about-us.png' | resize({ width: 1260, height: 1260, position: 'attention' }) | jpeg %}
                      "
          type="image/jpeg"
        />
        <img
          src="{% getUrl '/assets/images/about-us.png' | resize({ width: 630, height: 630, position: 'attention' }) | jpeg %}"
          alt="traveling rv"
          width="2250"
          height="1500"
          decoding="async"
          aria-hidden="true"
        />
      </picture>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-312">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 365, height: 407, position: 'right' }) | avif %}
                "
          type="image/avif"
        />
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 365, height: 407, position: 'right' }) | webp %}
                "
          type="image/webp"
        />
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 365, height: 407, position: 'right' }) | jpeg %}
                "
          type="image/jpeg"
        />
        <!--Tablet Image-->
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 522, height: 581, position: 'right' }) | avif %}
                "
          type="image/avif"
        />
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 522, height: 581, position: 'right' }) | webp %}
                "
          type="image/webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 522, height: 581, position: 'right' }) | jpeg %}
                "
          type="image/jpeg"
        />
        <img
          src="{% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 522, height: 581, position: 'right' }) | jpeg %}"
          alt="Circuit breakers"
          width="400"
          height="240"
          decoding="async"
          aria-hidden="true"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 274, height: 264, position: 'attention' }) | avif %}
                "
          type="image/avif"
        />
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 274, height: 264, position: 'attention' }) | webp %}
                "
          type="image/webp"
        />
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 274, height: 264, position: 'attention' }) | jpeg %}
                "
          type="image/jpeg"
        />
        <!--Tablet Image-->
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 390, height: 376, position: 'attention' }) | avif %}
                "
          type="image/avif"
        />
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 390, height: 376, position: 'attention' }) | webp %}
                "
          type="image/webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 390, height: 376, position: 'attention' }) | jpeg %}
                "
          type="image/jpeg"
        />
        <img
          src="{% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 390, height: 376, position: 'attention' }) | jpeg %}"
          alt="Circuit breakers"
          width="400"
          height="240"
          decoding="async"
          aria-hidden="true"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Certifications</span>
      <h2 class="cs-title">Is Rickey a Certified RV Tech?</h2>
      <p class="cs-text">
        Yes! Not only is Rickey RVTAA and NRVTA certified, but Rickey and Sarah are avid campers
        with more than 25 years of camping experience. They’ve also owned multiple RV and camper
        types over the years.
      </p>
      <p class="cs-text">
        The personal experience, industry training, certifications, and decades long passion for
        RVing makes the team the best choice in RV Repair in the Gainesville and north Georgia area.
      </p>
      {#
      <div class="cs-quote">
        <span class="cs-quote-text">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt
          turpis sit amet imperdiet for mind.
        </span>
        <span class="cs-name">Justin Time</span>
        <span class="cs-job">CEO-Founder</span>
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
          alt="gavel"
          width="136"
          height="77"
        />
      </div>
      #}
      <a href="" class="cs-button-solid">About Us</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-1430">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">Professionally Certified RV Technician</h2>
    </div>
    <div class="cs-logo-wrapper">
      <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
      <picture class="cs-picture">
        <img
          class="cs-logo"
          src="assets/images/nrvta-logo.png"
          alt="logo"
          width="228"
          height="61"
          loading="lazy"
          decoding="async"
        />
      </picture>
      <picture class="cs-picture">
        <img
          class="cs-logo"
          src="assets/images/rvtaa-logo.png"
          alt="logo"
          width="400"
          height="80"
          loading="lazy"
          decoding="async"
        />
      </picture>
    </div>
  </div>
  <!-- Background Graphic -->
  <picture class="cs-background">
    <img
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves5.svg"
      alt="waves"
      loading="lazy"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-1457">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="
                            {% getUrl '/assets/images/why-choose-us.png' | resize({ width: 1200, height: 1136  }) | avif %}
                        "
          type="image/avif"
        />
        <source
          media="(max-width: 600px)"
          srcset="
                            {% getUrl '/assets/images/why-choose-us.png' | resize({ width: 1200, height: 1136  }) | webp %}
                        "
          type="image/webp"
        />
        <source
          media="(max-width: 600px)"
          srcset="
                            {% getUrl '/assets/images/why-choose-us.png' | resize({ width: 1200, height: 1136  }) | jpeg %}
                        "
          type="image/jpeg"
        />
        <!--Tablet Image-->
        <source
          media="(min-width: 601)"
          srcset="
                            {% getUrl '/assets/images/why-choose-us.png' | resize({ width: 1000 , height:1458  }) | avif %}
                        "
          type="image/avif"
        />
        <source
          media="(min-width: 601)"
          srcset="
                            {% getUrl '/assets/images/why-choose-us.png' | resize({ width: 1000 , height:1458  }) | webp %}
                        "
          type="image/webp"
        />
        <source
          media="(min-width: 601)"
          srcset="
                            {% getUrl '/assets/images/why-choose-us.png' | resize({ width: 1000 , height:1458  }) | jpeg %}
                        "
          type="image/jpeg"
        />
        <img
          src="{% getUrl '/assets/images/why-choose-us.png' | resize({ width: 500 , height: 729  }) | jpeg %}"
          alt="RV camping"
          width="500"
          height="729"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Why Choose Us</span>
      <h2 class="cs-title">Why Choose Us As Your Mobile RV Service?</h2>
      <p class="cs-text">
        Rick’s Mobile RV Service is reliable, dependable, certified and insured. We come to you for
        your repairs, maintenance or upgrades. We work efficiently to get you back to RVing and
        enjoying life.
      </p>
      <ul id="list-1186" class="cs-ul">
        <li class="cs-li">
          <picture class="cs-li-picture">
            <img
              class="cs-li-icon"
              aria-hidden="true"
              src="/assets/icons/certified.svg"
              decoding="async"
              alt="certified"
              width="30"
              height="30"
              loading="lazy"
            />
          </picture>
          <div class="cs-flex">
            <h3 class="cs-h3">Certified & Insured Peace of Mind</h3>
            <p class="cs-li-text">
              You can trust Rick’s Mobile RV Service to get the job done right—backed by
              professional certification and full insurance coverage.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <picture class="cs-li-picture">
            <img
              class="cs-li-icon"
              aria-hidden="true"
              src="/assets/icons/van.svg"
              decoding="async"
              alt="van"
              width="30"
              height="30"
              loading="lazy"
            />
          </picture>
          <div class="cs-flex">
            <h3 class="cs-h3">We Come to You</h3>
            <p class="cs-li-text">
              No need to haul your RV to a shop. We bring expert repairs, maintenance, and upgrades
              directly to your location—saving you time and hassle.
            </p>
          </div>
        </li>
        <li class="cs-li">
          <picture class="cs-li-picture">
            <img
              class="cs-li-icon"
              aria-hidden="true"
              src="/assets/icons/clock-fast.svg"
              decoding="async"
              alt="clock"
              width="30"
              height="30"
              loading="lazy"
            />
          </picture>
          <div class="cs-flex">
            <h3 class="cs-h3">Fast, Reliable, and Ready to Roll</h3>
            <p class="cs-li-text">
              We work quickly and efficiently to get you back on the road and enjoying your RV
              life—with dependable service you can count on every time.
            </p>
          </div>
        </li>
      </ul>
      <a href="/contact/" class="cs-button-solid">Contact Us</a>
    </div>
  </div>
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="
                    {% getUrl '/assets/images/why-choose-us-bg.jpg' | resize({ width: 1200, height: 1136  }) | avif %}
                "
      type="image/avif"
    />
    <source
      media="(max-width: 600px)"
      srcset="
                    {% getUrl '/assets/images/why-choose-us-bg.jpg' | resize({ width: 1200, height: 1136  }) | webp %}
                "
      type="image/webp"
    />
    <source
      media="(max-width: 600px)"
      srcset="
                    {% getUrl '/assets/images/why-choose-us-bg.jpg' | resize({ width: 1200, height: 1136  }) | jpeg %}
                "
      type="image/jpeg"
    />
    <!--Tablet Image-->
    <source
      media="(min-width: 601)"
      srcset="
                    {% getUrl '/assets/images/why-choose-us-bg.jpg' | resize({ width: 2560 , height:1136  }) | avif %}
                "
      type="image/avif"
    />
    <source
      media="(min-width: 601)"
      srcset="
                    {% getUrl '/assets/images/why-choose-us-bg.jpg' | resize({ width: 2560 , height:1136  }) | webp %}
                "
      type="image/webp"
    />
    <source
      media="(min-width: 601)"
      srcset="
                    {% getUrl '/assets/images/why-choose-us-bg.jpg' | resize({ width: 2560 , height:1136  }) | jpeg %}
                "
      type="image/jpeg"
    />
    <img
      src="{% getUrl '/assets/images/why-choose-us-bg.jpg' | resize({ width: 1280 , height: 568  }) | jpeg %}"
      alt="RV in the mountains"
      width="1280"
      height="568"
      loading="lazy"
      decoding="async"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-864">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Testimonials</span>
      <h2 class="cs-title">Trusted by Thousand of People & Companies</h2>
      <p class="cs-text">
        Vitae ultricies leo integer malesuada nunc vel. Molestie ac feugiat sed lectus vestibulum
        mattis ullamcorper velit. Viverra aliquet eget sit amet tellus cras adipiscing. Molestie ac
        feugiat sed lectus vestibulum mattis ullamcorper velit.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/review-1.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Amanda Jenkins
            <span class="cs-job">Customer</span>
          </span>
        </div>
        <p class="cs-review">
          I have been so very blessed to have Rick and Sarah both come into my life! They both have
          been a godsend have gone above and beyond anything I could have ever asked for! Thank you
          both for wonderful customer service and going above and beyond with everything y'all have
          done!
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="stars"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google Reviews</span>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/review-2.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            H B
            <span class="cs-job">Customer</span>
          </span>
        </div>
        <p class="cs-review">
          Ricks was such a pleasure to do business with. They are prompt, informative and really
          professional. They stayed in contact with us throughout the process of pricing and our
          repair/addition of slide toppers. Highly recommend!!!
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google Reviews</span>
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture" aria-hidden="true">
            <img
              class="cs-profile"
              src="/assets/images/review-3.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
            />
          </picture>
          <span class="cs-name">
            Emileigh B
            <span class="cs-job">Customer</span>
          </span>
        </div>
        <p class="cs-review">
          After buying a new Camper, we immediately had an issue. I called Rick and he was out the
          next day. He was able to fix my issue within an hour. His prices are beyond fair and an
          excellent human to interact with. I can’t thank them enough for helping me and my family
          get everything working.
        </p>
        <!--Stars-->
        <img
          class="cs-stars"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fstars.svg"
          decoding="async"
          alt="quote icon"
          width="108"
          height="16"
        />
        <span class="cs-desc">Google Reviews</span>
      </li>
    </ul>
    <a
      href="https://www.google.com/search?q=ricks+mobile+rv+service+georgia&sca_esv=3d9aa816210a3b66&rlz=1C1WDIF_enUS1095US1095&biw=1740&bih=1270&sxsrf=AE3TifNOiTC3LhjMEh-UGV9fSOtuR9Ox_g%3A1754490983059&ei=Z2iTaI21A43ekPIP9cOC0AI&ved=0ahUKEwjNhLqetPaOAxUNL0QIHfWhACo4ChDh1QMIEA&uact=5&oq=ricks+mobile+rv+service+georgia&gs_lp=Egxnd3Mtd2l6LXNlcnAiH3JpY2tzIG1vYmlsZSBydiBzZXJ2aWNlIGdlb3JnaWEyBRAhGKABMgUQIRigATIFECEYoAEyBRAhGKABSNN9UIkJWNF7cAl4AZABAZgBnwGgAc8eqgEENC4yObgBA8gBAPgBAZgCKaACvB7CAgoQABiwAxjWBBhHwgINEAAYsAMY1gQYRxjJA8ICDhAAGIAEGLADGJIDGIoFwgIEECMYJ8ICDBAAGIAEGEMYigUYCsICBxAAGIAEGArCAgsQLhiABBjHARivAcICBRAAGIAEwgIQEC4YgAQYFBiHAhjHARivAcICChAAGIAEGBQYhwLCAg0QLhiABBjHARgKGK8BwgIHECMYsQIYJ8ICCxAAGIAEGJECGIoFwgILEAAYgAQYhgMYigXCAggQABgWGAoYHsICBhAAGBYYHsICCBAAGIAEGKIEwgIFECEYqwLCAgUQIRifBcICBxAhGKABGAqYAwCIBgGQBgqSBwUxMC4zMaAHpqwCsgcEMS4zMbgHoh7CBwYyLjMwLjnIB10&sclient=gws-wiz-serp#lrd=0x621c903329961a2f:0x32a8c4225a176e49,1,,,,"
      target="_blank"
      rel="noopener"
      class="cs-button-solid"
      >Leave a Review</a
    >
  </div>
</section>

{% include 'sections/cta.html' %} {% endblock %}
