---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %} {% block head %}
<!-- Critical styles are loaded first -->
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
{% if kit.isProduction %}
<link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
  <link rel="stylesheet" href="/assets/css/local.css" />
</noscript>

{% else %}
<link rel="stylesheet" href="/assets/css/local.css" />
{% endif %}

<!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
<!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
<!-- {% include "components/home-schema.html" %} -->
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1467">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">RV Repair Service</h1>
      <p class="cs-text">
        Rick’s Mobile RV Service is here for you. We help our clients and provide them with the best RV Upgrades, Repair
        and Maintenance Service
      </p>
      <a href="" class="cs-button-solid">Call Us Now</a>
      <div class="cs-reviews" aria-hidden="true">
        <div class="cs-reviews-flex">
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile1.png"
            alt="icon"
            width="48"
            height="48" />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile2.png"
            alt="icon"
            width="48"
            height="48" />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile3.png"
            alt="icon"
            width="48"
            height="48" />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile4.png"
            alt="icon"
            width="48"
            height="48" />
          <img
            class="cs-reviews-img"
            decoding="async"
            fetchpriority="high"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile5.png"
            alt="icon"
            width="48"
            height="48" />
          <span class="cs-reviews-number">+25</span>
        </div>
      </div>
      <div class="cs-stars">
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16" />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16" />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16" />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16" />
        <img
          class="cs-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/star-single.svg"
          alt="icon"
          width="16"
          height="16" />
      </div>
      <p class="cs-desc">Rick's Mobile RV Service is rated 5/5 based on 25+ reviews.</p>
    </div>
    <div class="cs-right">
      <span class="cs-tag">
        Online Special
        <span class="cs-dot" aria-hidden="true"></span>
      </span>
      <div class="cs-flex">
        <h3 class="cs-h3">Get an Extra 5% OFF Your First Order Today</h3>
        <span class="cs-expires">*Offer Expires April 16th</span>
        <p class="cs-form-text">Request a free* No-Obligation quote & expert advice from our expert team!</p>
      </div>
      <!--Form-->
      <form class="cs-form" id="cs-form-1467" name="Contact Form" method="post">
        <label class="cs-label">
          Name
          <input class="cs-input" required type="text" id="name-1467" name="name" />
        </label>
        <label class="cs-label">
          Phone
          <input class="cs-input" required type="tel" id="phone-1467" name="phone" />
        </label>
        <label class="cs-label">
          Email
          <input class="cs-input" required type="email" id="email-1467" name="email" />
        </label>
        <label class="cs-label">
          How did you hear about us?
          <input class="cs-input" required type="text" id="hear-1467" name="heat" />
        </label>
        <label class="cs-label cs-message">
          Message
          <textarea class="cs-input cs-textarea" required name="Message" id="message-1467"></textarea>
        </label>
        <button class="cs-button-solid cs-submit" type="submit">Get Estimate</button>
      </form>
      <p class="cs-disclaimer">
        <img
          class="cs-disclaimer-icon"
          decoding="async"
          fetchpriority="high"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/lock.svg"
          alt="icon"
          width="20"
          height="20" />
        *Free estimates for homeowners only. Real estate evaluations are billable.
      </p>
    </div>
  </div>

  <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | avif %}
                "
      type="image/avif" />
    <source
      media="(max-width: 600px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | webp %}
                "
      type="image/webp" />
    <source
      media="(max-width: 600px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 640, height: 1500, position: 'attention' }) | jpeg %}
                "
      type="image/jpeg" />
    <!--Tablet Image-->
    <source
      media="(min-width: 601px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | avif %}
                "
      type="image/avif" />
    <source
      media="(min-width: 601px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | webp %}
                "
      type="image/webp" />
    <source
      media="(min-width: 601px)"
      srcset="
                    {% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | jpeg %}
                "
      type="image/jpeg" />
    <img
      src="{% getUrl '/assets/images/hero.jpg' | resize({ width: 2250, height: 1500, position: 'attention' }) | jpeg %}"
      alt="traveling rv"
      width="2250"
      height="1500"
      decoding="async"
      aria-hidden="true" />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Side By Side                -->
<!-- ============================================ -->

<section id="sbs-2378">
  <div class="cs-container">
    <picture class="cs-picture">
      <!--Mobile Image-->
      <source
        media="(max-width: 600px)"
        srcset="
                    {% getUrl '/assets/images/about-us.png' | resize({ width: 568, height: 400, position: 'center' }) | avif %}
                "
        type="image/avif" />
      <source
        media="(max-width: 600px)"
        srcset="
                    {% getUrl '/assets/images/about-us.png' | resize({ width: 568, height: 400, position: 'center' }) | webp %}
                "
        type="image/webp" />
      <source
        media="(max-width: 600px)"
        srcset="
                    {% getUrl '/assets/images/about-us.png' | resize({ width: 568, height: 400, position: 'center' }) | jpeg %}
                "
        type="image/jpeg" />
      <!--Tablet Image-->
      <source
        media="(min-width: 601px)"
        srcset="
                    {% getUrl '/assets/images/about-us.png' | resize({ width: 630, height: 530, position: 'center' }) | avif %}
                "
        type="image/avif" />
      <source
        media="(min-width: 601px)"
        srcset="
                    {% getUrl '/assets/images/about-us.png' | resize({ width: 630, height: 530, position: 'center' }) | webp %}
                "
        type="image/webp" />
      <source
        media="(min-width: 601px)"
        srcset="
                    {% getUrl '/assets/images/about-us.png' | resize({ width: 630, height: 530, position: 'center' }) | jpeg %}
                "
        type="image/jpeg" />
      <img
        src="{% getUrl '/assets/images/about-us.png' | resize({ width: 630, height: 530, position: 'center' }) | jpeg %}"
        alt="Rick and Sarah"
        width="630"
        height="530"
        decoding="async"
        aria-hidden="true" />
      <!--Mobile Image-->
      {#
      <source
        media="(max-width: 600px)"
        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people9.jpg" />
      <!--Tablet and above Image-->
      <source
        media="(min-width: 601px)"
        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people9.jpg" />
      <img
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people9.jpg"
        alt="people"
        width="586"
        height="690" />
      #}
    </picture>
    <div class="cs-content">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">A Family-Owned Mobile RV Repair Team</h2>
      <p class="cs-text">
        With 25 years of camping experience, we know things break. Leaks happen. Roofs and floors deteriorate.
        Slide-outs get stuck. Wiring issues, ac and furnace, appliances and more.
      </p>
      <p class="cs-text">
        But we don’t let that slow down our passion RVing! And we don’t want it to slow you down either!
      </p>
      <p class="cs-text">
        Over the years we’ve helped full-time families, retirees, travel workers, road warriors, vacationers, and all
        sorts of RVers who live here and pass through our beautiful region!
      </p>
      <p class="cs-text">How can we help make RVing better for you?</p>
      <a href="/contact" class="cs-button-solid">Schedule Service</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2378">
  <div class="cs-container">
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
                    {% getUrl '/assets/images/service-3.jpg' | resize({ width: 580, height: 120, position: 'center' }) | avif %}
                "
            type="image/avif" />
          <source
            media="(max-width: 600px)"
            srcset="
                    {% getUrl '/assets/images/service-3.jpg' | resize({ width: 580, height: 120, position: 'center' }) | webp %}
                "
            type="image/webp" />
          <source
            media="(max-width: 600px)"
            srcset="
                    {% getUrl '/assets/images/service-3.jpg' | resize({ width: 580, height: 120, position: 'center' }) | jpeg %}
                "
            type="image/jpeg" />
          <!--Tablet Image-->
          <source
            media="(min-width: 601px)"
            srcset="
                    {% getUrl '/assets/images/service-3.jpg' | resize({ width: 400, height: 240, position: 'center' }) | avif %}
                "
            type="image/avif" />
          <source
            media="(min-width: 601px)"
            srcset="
                    {% getUrl '/assets/images/service-3.jpg' | resize({ width: 400, height: 240, position: 'center' }) | webp %}
                "
            type="image/webp" />
          <source
            media="(min-width: 601px)"
            srcset="
                    {% getUrl '/assets/images/service-3.jpg' | resize({ width: 400, height: 240, position: 'center' }) | jpeg %}
                "
            type="image/jpeg" />
          <img
            src="{% getUrl '/assets/images/service-3.jpg' | resize({ width: 400, height: 240, position: 'center' }) | jpeg %}"
            alt="Bottle of red fluid"
            width="400"
            height="240"
            decoding="async"
            aria-hidden="true" />
        </picture>
        <h3 class="cs-h3">Friendly Service</h3>
        <p class="cs-item-text">
          Rick’s Mobile RV Service offers friendly services to clients. We believe in maintaining a collaborative
          working environment with them.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
                    {% getUrl '/assets/images/service-4.jpg' | resize({ width: 580, height: 120, position: 'center' }) | avif %}
                "
            type="image/avif" />
          <source
            media="(max-width: 600px)"
            srcset="
                    {% getUrl '/assets/images/service-4.jpg' | resize({ width: 580, height: 120, position: 'center' }) | webp %}
                "
            type="image/webp" />
          <source
            media="(max-width: 600px)"
            srcset="
                    {% getUrl '/assets/images/service-4.jpg' | resize({ width: 580, height: 120, position: 'center' }) | jpeg %}
                "
            type="image/jpeg" />
          <!--Tablet Image-->
          <source
            media="(min-width: 601px)"
            srcset="
                    {% getUrl '/assets/images/service-4.jpg' | resize({ width: 400, height: 240, position: 'center' }) | avif %}
                "
            type="image/avif" />
          <source
            media="(min-width: 601px)"
            srcset="
                    {% getUrl '/assets/images/service-4.jpg' | resize({ width: 400, height: 240, position: 'center' }) | webp %}
                "
            type="image/webp" />
          <source
            media="(min-width: 601px)"
            srcset="
                    {% getUrl '/assets/images/service-4.jpg' | resize({ width: 400, height: 240, position: 'center' }) | jpeg %}
                "
            type="image/jpeg" />
          <img
            src="{% getUrl '/assets/images/service-4.jpg' | resize({ width: 400, height: 240, position: 'center' }) | jpeg %}"
            alt="Water lines"
            width="400"
            height="240"
            decoding="async"
            aria-hidden="true" />
        </picture>
        <h3 class="cs-h3">Reliable Service</h3>
        <p class="cs-item-text">Rick’s Mobile RV Service is your reliable certified and insured RV repair service.</p>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="
                    {% getUrl '/assets/images/service-5.jpg' | resize({ width: 580, height: 120, position: 'center' }) | avif %}
                "
            type="image/avif" />
          <source
            media="(max-width: 600px)"
            srcset="
                    {% getUrl '/assets/images/service-5.jpg' | resize({ width: 580, height: 120, position: 'center' }) | webp %}
                "
            type="image/webp" />
          <source
            media="(max-width: 600px)"
            srcset="
                    {% getUrl '/assets/images/service-5.jpg' | resize({ width: 580, height: 120, position: 'center' }) | jpeg %}
                "
            type="image/jpeg" />
          <!--Tablet Image-->
          <source
            media="(min-width: 601px)"
            srcset="
                    {% getUrl '/assets/images/service-5.jpg' | resize({ width: 400, height: 240, position: 'center' }) | avif %}
                "
            type="image/avif" />
          <source
            media="(min-width: 601px)"
            srcset="
                    {% getUrl '/assets/images/service-5.jpg' | resize({ width: 400, height: 240, position: 'center' }) | webp %}
                "
            type="image/webp" />
          <source
            media="(min-width: 601px)"
            srcset="
                    {% getUrl '/assets/images/service-5.jpg' | resize({ width: 400, height: 240, position: 'center' }) | jpeg %}
                "
            type="image/jpeg" />
          <img
            src="{% getUrl '/assets/images/service-5.jpg' | resize({ width: 400, height: 240, position: 'center' }) | jpeg %}"
            alt="Circuit breakers"
            width="400"
            height="240"
            decoding="async"
            aria-hidden="true" />
        </picture>
        <h3 class="cs-h3">Mobile Service</h3>
        <p class="cs-item-text">
          We come to you for your repairs, maintenance and upgrades. we are always there for your RV.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-312">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 365, height: 407, position: 'right' }) | avif %}
                "
          type="image/avif" />
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 365, height: 407, position: 'right' }) | webp %}
                "
          type="image/webp" />
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 365, height: 407, position: 'right' }) | jpeg %}
                "
          type="image/jpeg" />
        <!--Tablet Image-->
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 522, height: 581, position: 'right' }) | avif %}
                "
          type="image/avif" />
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 522, height: 581, position: 'right' }) | webp %}
                "
          type="image/webp" />
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 522, height: 581, position: 'right' }) | jpeg %}
                "
          type="image/jpeg" />
        <img
          src="{% getUrl '/assets/images/about-us-2.jpg' | resize({ width: 522, height: 581, position: 'right' }) | jpeg %}"
          alt="Circuit breakers"
          width="400"
          height="240"
          decoding="async"
          aria-hidden="true" />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 274, height: 264, position: 'attention' }) | avif %}
                "
          type="image/avif" />
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 274, height: 264, position: 'attention' }) | webp %}
                "
          type="image/webp" />
        <source
          media="(max-width: 600px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 274, height: 264, position: 'attention' }) | jpeg %}
                "
          type="image/jpeg" />
        <!--Tablet Image-->
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 390, height: 376, position: 'attention' }) | avif %}
                "
          type="image/avif" />
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 390, height: 376, position: 'attention' }) | webp %}
                "
          type="image/webp" />
        <source
          media="(min-width: 601px)"
          srcset="
                    {% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 390, height: 376, position: 'attention' }) | jpeg %}
                "
          type="image/jpeg" />
        <img
          src="{% getUrl '/assets/images/about-us-3.jpg' | resize({ width: 390, height: 376, position: 'attention' }) | jpeg %}"
          alt="Circuit breakers"
          width="400"
          height="240"
          decoding="async"
          aria-hidden="true" />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Certifications</span>
      <h2 class="cs-title">Is Rickey a Certified RV Tech?</h2>
      <p class="cs-text">
        Yes! Not only is Rickey RVTAA and NRVTA certified, but Rickey and Sarah are avid campers with more than 25 years
        of camping experience. They’ve also owned multiple RV and camper types over the years.
      </p>
      <p class="cs-text">
        The personal experience, industry training, certifications, and decades long passion for RVing makes the team
        the best choice in RV Repair in the Gainesville and north Georgia area.
      </p>
      {#
      <div class="cs-quote">
        <span class="cs-quote-text">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet
          imperdiet for mind.
        </span>
        <span class="cs-name">Justin Time</span>
        <span class="cs-job">CEO-Founder</span>
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
          alt="gavel"
          width="136"
          height="77" />
      </div>
      #}
      <a href="" class="cs-button-solid">About Us</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-48">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Portfolio</span>
      <h2 class="cs-title">Et orci volutpat, back up generator installations</h2>
    </div>
    <div class="cs-image-group">
      <div class="cs-row cs-row-1">
        <!-- Row 1-->
        <picture class="cs-picture cs-picture-1">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port1.jpg" | resize({ width:
          182, height: 250 }) | avif %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port1.jpg" | resize({ width: 182, height: 250 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port1.jpg" | resize({ width:
          182, height: 250 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port1.jpg" | resize({ width:
          634, height: 798 }) | avif %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port1.jpg" | resize({ width: 634, height: 798 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port1.jpg" | resize({ width:
          634, height: 798 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port1.jpg" | resize({ width:
          826, height: 1134 }) | avif %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port1.jpg" | resize({ width: 826, height: 1134 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port1.jpg" | resize({ width:
          826, height: 1134 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/portfolio/port1.jpg" |
          resize({ width: 826, height: 1134 }) | jpeg %}" alt="new hallway" width="413" height="567" loading="lazy"
          decoding="async">
        </picture>
        <picture class="cs-picture cs-picture-2">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port4.jpg" | resize({ width:
          182, height: 276 }) | avif %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port4.jpg" | resize({ width: 182, height: 276 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port4.jpg" | resize({ width:
          182, height: 276 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port4.jpg" | resize({ width:
          634, height: 886 }) | avif %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port4.jpg" | resize({ width: 634, height: 886 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port4.jpg" | resize({ width:
          634, height: 886 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port4.jpg" | resize({ width:
          826, height: 1258 }) | avif %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port4.jpg" | resize({ width: 826, height: 1258 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port4.jpg" | resize({ width:
          826, height: 1258 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/portfolio/port4.jpg" |
          resize({ width: 826, height: 1258 }) | jpeg %}" alt="new home construction" width="413" height="629"
          loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture cs-picture-3">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port7.jpg" | resize({ width:
          182, height: 226 }) | avif %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port7.jpg" | resize({ width: 182, height: 226 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port7.jpg" | resize({ width:
          182, height: 226 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port7.jpg" | resize({ width:
          634, height: 720 }) | avif %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port7.jpg" | resize({ width: 634, height: 720 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port7.jpg" | resize({ width:
          634, height: 720 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port7.jpg" | resize({ width:
          826, height: 1024 }) | avif %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port7.jpg" | resize({ width: 826, height: 1024 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port7.jpg" | resize({ width:
          826, height: 1024 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/portfolio/port7.jpg" |
          resize({ width: 826, height: 1024 }) | jpeg %}" alt="building a new wall" width="413" height="512"
          loading="lazy" decoding="async">
        </picture>
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 2 -->
      <div class="cs-row cs-row-2">
        <picture class="cs-picture cs-picture-1">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port2.jpg" | resize({ width:
          182, height: 216 }) | avif %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port2.jpg" | resize({ width: 182, height: 216 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port2.jpg" | resize({ width:
          182, height: 216 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port2.jpg" | resize({ width:
          634, height: 692 }) | avif %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port2.jpg" | resize({ width: 634, height: 692 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port2.jpg" | resize({ width:
          634, height: 692 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port2.jpg" | resize({ width:
          826, height: 984 }) | avif %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port2.jpg" | resize({ width: 826, height: 984 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port2.jpg" | resize({ width:
          826, height: 984 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/portfolio/port2.jpg" |
          resize({ width: 826, height: 984 }) | jpeg %}" alt="new kitchen" width="413" height="492" loading="lazy"
          decoding="async">
        </picture>
        <picture class="cs-picture cs-picture-2">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port5.jpg" | resize({ width:
          182, height: 228 }) | avif %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port5.jpg" | resize({ width: 182, height: 228 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port5.jpg" | resize({ width:
          182, height: 228 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port5.jpg" | resize({ width:
          634, height: 728 }) | avif %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port5.jpg" | resize({ width: 634, height: 728 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port5.jpg" | resize({ width:
          634, height: 728 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port5.jpg" | resize({ width:
          826, height: 1034 }) | avif %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port5.jpg" | resize({ width: 826, height: 1034 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port5.jpg" | resize({ width:
          826, height: 1034 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/portfolio/port5.jpg" |
          resize({ width: 826, height: 1034 }) | jpeg %}" alt="apartment addition" width="413" height="517"
          loading="lazy" decoding="async">
        </picture>

        <picture class="cs-picture cs-picture-3">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port8.jpg" | resize({ width:
          182, height: 276 }) | avif %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port8.jpg" | resize({ width: 182, height: 276 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port8.jpg" | resize({ width:
          182, height: 276 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port8.jpg" | resize({ width:
          634, height: 886 }) | avif %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port8.jpg" | resize({ width: 634, height: 886 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port8.jpg" | resize({ width:
          634, height: 886 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port8.jpg" | resize({ width:
          826, height: 1258 }) | avif %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port8.jpg" | resize({ width: 826, height: 1258 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port8.jpg" | resize({ width:
          826, height: 1258 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/portfolio/port8.jpg" |
          resize({ width: 826, height: 1258 }) | jpeg %}" alt="kew kitchen cabinets" width="413" height="629"
          loading="lazy" decoding="async">
        </picture>

        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 3 -->
      <div class="cs-row cs-row-3">
        <picture class="cs-picture cs-picture-1">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port3.jpg" | resize({ width:
          182, height: 276 }) | avif %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port3.jpg" | resize({ width: 182, height: 276 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port3.jpg" | resize({ width:
          182, height: 276 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port3.jpg" | resize({ width:
          634, height: 880 }) | avif %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port3.jpg" | resize({ width: 634, height: 880 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port3.jpg" | resize({ width:
          634, height: 880 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port3.jpg" | resize({ width:
          826, height: 1250 }) | avif %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port3.jpg" | resize({ width: 826, height: 1250 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port3.jpg" | resize({ width:
          826, height: 1250 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/portfolio/port3.jpg" |
          resize({ width: 826, height: 1250 }) | jpeg %}" alt="new black window structure" width="413" height="625"
          loading="lazy" decoding="async">
        </picture>
        <picture class="cs-picture cs-picture-2">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port6.jpg" | resize({ width:
          182, height: 198 }) | avif %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port6.jpg" | resize({ width: 182, height: 198 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port6.jpg" | resize({ width:
          182, height: 198 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port6.jpg" | resize({ width:
          634, height: 636 }) | avif %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port6.jpg" | resize({ width: 634, height: 636 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port6.jpg" | resize({ width:
          634, height: 636 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port6.jpg" | resize({ width:
          826, height: 904 }) | avif %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port6.jpg" | resize({ width: 826, height: 904 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port6.jpg" | resize({ width:
          826, height: 904 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/portfolio/port6.jpg" |
          resize({ width: 826, height: 904 }) | jpeg %}" alt="kitchen rebovation" width="413" height="452"
          loading="lazy" decoding="async">
        </picture>

        <picture class="cs-picture cs-picture-3">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port9.jpg" | resize({ width:
          182, height: 276 }) | avif %}" type="image/avif"> <source media="(max-width: 600px)" srcset="{% getUrl
          "/assets/images/portfolio/port9.jpg" | resize({ width: 182, height: 276 }) | webp %}" type="image/webp">
          <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/portfolio/port9.jpg" | resize({ width:
          182, height: 276 }) | jpeg %}" type="image/jpeg">
          <!--Tablet Image-->
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port9.jpg" | resize({ width:
          634, height: 886 }) | avif %}" type="image/avif"> <source media="(max-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port9.jpg" | resize({ width: 634, height: 886 }) | webp %}" type="image/webp">
          <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port9.jpg" | resize({ width:
          634, height: 886 }) | jpeg %}" type="image/jpeg">
          <!--Desktop Image-->
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port9.jpg" | resize({ width:
          826, height: 1258 }) | avif %}" type="image/avif"> <source media="(min-width: 1024px)" srcset="{% getUrl
          "/assets/images/portfolio/port9.jpg" | resize({ width: 826, height: 1258 }) | webp %}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/portfolio/port9.jpg" | resize({ width:
          826, height: 1258 }) | jpeg %}" type="image/jpeg"> <img src="{% getUrl "/assets/images/portfolio/port9.jpg" |
          resize({ width: 826, height: 1258 }) | jpeg %}" alt="bathroom renovation" width="413" height="629"
          loading="lazy" decoding="async">
        </picture>

        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
    </div>
    <a href="/project-one/" class="cs-button-solid">View a Project</a>
  </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-67">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Reviews</span>
      <h2 class="cs-title">Words From Our Customers</h2>
      <p class="cs-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl.
        Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare.
        Lorem ipsum dolor sit amet.
      </p>
    </div>
    <ul class="cs-card-group">
      <!-- Review 1 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/newsvgs/profile.svg"
          alt="profile picture"
          width="80"
          height="80" />
        <p class="cs-item-text">
          Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna
          pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa
          urna, volutpat orci imperdiet eget eget. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore,
          debitis!
        </p>
        <div class="cs-info">
          <div class="cs-flex-group">
            <span class="cs-name">Jon Doe</span>
            <span class="cs-desc">Homeowner</span>
          </div>
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/stars.svg"
            alt="stars"
            width="96"
            height="16" />
        </div>
      </li>
      <!-- Review 2 -->
      <li class="cs-item">
        <img
          class="cs-item-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/newsvgs/profile.svg"
          alt="profile picture"
          width="80"
          height="80" />
        <p class="cs-item-text">
          Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna
          pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa
          urna, volutpat orci imperdiet eget eget.
        </p>
        <div class="cs-info">
          <div class="cs-flex-group">
            <span class="cs-name">Jon Doe</span>
            <span class="cs-desc">Homeowner</span>
          </div>
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/stars.svg"
            alt="stars"
            width="96"
            height="16" />
        </div>
      </li>
    </ul>
    <a href="/reviews/" class="cs-button-solid">Read All Reviews</a>
  </div>
</section>

{% include 'sections/cta.html' %} {% endblock %}
